<div class="row-fluid">
	<div class="span10">

		<div class="row-fluid">
			<div class="span6">
<h1 id="about">About Lean Canvas</h1>

<p>Lean Canvas was created by Ash Maurya by adaptating the Business Model Canvas by Alexander Osterwalder as described in his book "Business Model Generation". This adaptation is more focused on how business models should be generated in the Lean Startup spirit.</p>
<p>Lean Canvas is an actionable and compact business plan format, based on problems, solutions, key metrics and competitive advantages.</p> 
<p>While the structure is similar to the well-known Business Model Canvas, the sections headings have been exchanged to something
	more relevant to the Lean Startup and web-based app startups in general. The author describes the Lean Canvas and the ideas behind it on his website's <a href="http://www.ashmaurya.com/2012/02/why-lean-canvas/">Why Lean Canvas</a> page.</p>
</div>

<div class="span6">

<h1>About QuickCanvas</h1>

<p>I created this tool mainly for my own purpose, I find this way of thinking about business models very handy, but prefer open-source
	software rather then the fee based one offered by the author.</p>
<p> I also think that others might consider a good idea not uploading sound business ideas to anyone servers, so I designed the tool to be fully browser-based.</p>

</div>

</div>


</div>
<div class="span2">
	<script type="text/javascript"><!--
	google_ad_client = "ca-pub-4204376236835332";
	/* quickcanvas.io */
	google_ad_slot = "3333805097";
	google_ad_width = 160;
	google_ad_height = 600;
	//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>
</div>