<h1 id="contact_us">Contact us</h1>

<p>Please contact us using the following form:</p>

<form action="contact_submit" method="POST" class="form-horizontal" accept-charset="utf-8">
	
	<div class="control-group">
		<label class="control-label">Your name</label>
		<div class="controls">
			<input type="text" name="contact_name" value="" id="contact_name">				
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="email">Email Address</label>
		<div class="controls">
			<input type="email" name="email" value="" id="email">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="Message">Message</label>
		<div class="controls">
			<textarea class="input-large" name="message" rows="8" cols="40"></textarea>
		</div>
	</div>
		
	<div class="control-group">
		<div class="controls">
        <label class="checkbox">
          <input type="checkbox"> Subscribe to our low volume newsletter
        </label>
		 <button type="submit" class="btn">Send form</button>
	 </div>
	</div>

</form>