
<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Lean Canvas, super quick!</h1>
  <p class="lead">Easily create a Lean Canvas document in PDF using only your browser.</p>
  <p>Based on <a href="http://businessmodelgeneration.com">Business Model Canvas</a>. Optimized for Lean Startup by <a href="http://leancanvas.com">LeanCanvas.com</a>. <br/>
	  Shared with <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY SA 3.0</a>. Full source code available with <a href="http://opensource.org/licenses/MIT">MIT license</a>.</p>   
  <a class="btn btn-large btn-success" href="#/canvas">Get started now</a>
</div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid">
  <div class="span4">
    <h2>Easy</h2>
    <p>You don't need to join any service, pay any fee or share your data with anybody. The app stores data in your browser
	storage, so you won't loose your work, if you need to close the window between edits.</p>
  </div>
  <div class="span4">
    <h2>Discreet</h2>
    <p>You don't need to share your great business idea with no-one. The app runs entirely on your browser as a <a href="http://angularjs.org">Angular.js</a> app, PDF export is included thanks to the <a href="https://github.com/MrRio/jsPDF">JsPDF</a>
		library </p>
 </div>
  <div class="span4">
    <h2>Open-source</h2>
    <p>You can <a href="http://github.com/fibasile/quickcanvas/">fork</a> the app on GitHub and edit it to suit your needs. Full source
		included</p>
  </div>
</div>

<hr>

<div class="footer">
  <p>&copy; <a href="http://github.com/fibasile">Fiore Basile</a> 2013</p>
</div>
